body {
    background-color: White;
}

nav {
    text-transform: uppercase;
    font-family: PT sans narrow;
}

.nav-link {
    font-weight: bold
}

/* change color and italic when hover over it*/

.nav-link:hover {
    font-style: italic;
    background-color: red;
}

header {
    height: 700px;
    width: 100%;
    background-image: url("sky.jpeg"); 
    background-size: cover; 
    text-align: center;
}
header p{
    font-style: italic;
}

.services {
    text-align: center
}

.services i{
    font-size: 30px;
    padding: 15px 15px;
   
    color: blue;
    background-color: orange;
    
    width: 60px;
    height: 60px;
    
    border-radius: 35%
}

.services spam{
    width: 200;
    display: inline-block
}